Source: ros-groovy-serial
Section: misc
Priority: extra
Maintainer: William Woodall <wwoodall@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake,ros-groovy-catkin
Homepage: http://wjwwood.github.com/serial/
Standards-Version: 3.9.2

Package: ros-groovy-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Serial is a cross-platform, simple to use library for using serial ports on computers. This library provides a C++, object oriented interface for interacting with RS-232 like devices on Linux and Windows.
