Source: ros-kinetic-serial
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-kinetic-catkin
Homepage: http://wjwwood.github.com/serial/
Standards-Version: 3.9.2

Package: ros-kinetic-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Serial is a cross-platform, simple to use library for using serial ports on computers.
 This library provides a C++, object oriented interface for interacting with RS-232 like devices on Linux and Windows.
